//- Jade DOM for Online Class Details
//-
//-

#BuyHeader
    h4(style="margin-top:-5px;")
      | <b>Enter details for your new Online Class.</b>
    h5
      | All but Name are optional until the Class is made <i>active</i>, and it's time for students to sign up.
.col-xs-2
      label.control-label(for="ProjectName", style="margin-top:6px;display:block;text-align:right;") Name
.col-xs-4
      input.form-control#ProjectName(type="text" placeholder="Enter Class name." tabindex=1)
.col-xs-6
br
br
.col-xs-2
    label.control-label(for="ProjectDescription", style="margin-top:6px;display:block;text-align:right;") Class Description
.col-xs-10
    textarea.form-control#ProjectDescription(spellcheck=true cols=40 rows=2 placeholder="Enter a complete description of your Class." tabindex=2)
br
br
br
.col-xs-2
        label.control-label(for="ProjectTags", style="margin-top:6px;display:block;text-align:right;") Search tags
.col-xs-10
        textarea#ProjectTags.form-control(spellcheck=true cols=40 rows=2 placeholder="Enter words to help people search for this Class." tabindex=3)
br
br
br
.col-xs-2
    label.control-label(for="InstructorFirst", style="margin-top:6px;display:block;text-align:right;") Instructor
.col-xs-2
    input.form-control#InstructorFirst(placeholder="First name" style="width:100%;" tabindex=4)
.col-xs-2
    input.form-control#InstructorLast(placeholder="Last name" style="width:100%;" tabindex=5)
.col-xs-2
    label.control-label(for="Email", style="margin-top:6px;display:block;text-align:right;") Email
.col-xs-3
    input.form-control#Email(placeholder="Info email address" tabindex=15)
.col-xs-1
br
br
.col-xs-2
.col-xs-4
.col-xs-2
    label.control-label(for="When1", style="margin-top:6px;display:block;text-align:right;") Class Schedule
.col-xs-4
    input.form-control#When1(placeholder="Class 1 date / start-end times (UTC)" tabindex=16)
br
br
.col-xs-2
.col-xs-4
.col-xs-2
.col-xs-4
    input.form-control#When2(placeholder="Class 2 date / start-end times (UTC)" tabindex=17)
br
br
.col-xs-2
.col-xs-4
.col-xs-2
.col-xs-4
    input.form-control#When3(placeholder="Class 3 date / start-end times (UTC)" tabindex=18)
br
br
.col-xs-2
.col-xs-4
.col-xs-2
.col-xs-4
    input.form-control#When4(placeholder="Class 4 date / start-end times (UTC)" tabindex=19)
br
br
.col-xs-8
.col-xs-4
    input.form-control#When5(placeholder="Class 5 date / start-end times (UTC)" tabindex=20)
br
br
.col-xs-2
    label.control-label(for="Level", style="margin-top:6px;display:block;text-align:right;") Level
.col-xs-4
    select.form-control#Level(tabindex=12)
        each val,index in ['Elementary school','Middle School','High school and beyond']
            option(value=index)= val
.col-xs-2
.col-xs-4
    input.form-control#When6(placeholder="Class 6 date / start-end times (UTC)" tabindex=21)
br
br
.col-xs-2
    label.control-label(for="Difficulty", style="margin-top:6px;display:block;text-align:right;") Difficulty
.col-xs-4
    select.form-control#Difficulty(tabindex=13)
        each val,index in ['Beginner','Has used the TechGroms system','Has completed a TechGroms class','Almost self-sufficient','An expert!']
            option(value=index)= val
.col-xs-2
.col-xs-4
    input.form-control#When7(placeholder="Class 7 date / start-end times (UTC)" tabindex=22)
br
br
.col-xs-2
    label.control-label(for="Price", style="margin-top:6px;display:block;text-align:right;") Price
.col-xs-4
    input.form-control#Price(placeholder="$xxx.xx" tabindex=14)
.col-xs-2
.col-xs-4
    input.form-control#When8(placeholder="Class 8 date / start-end times (UTC)" tabindex=23)
br
br
.col-xs-2
    label.control-label(for="Notes", style="margin-top:6px;display:block;text-align:right;") Notes
.col-xs-10
    textarea.form-control#Notes(spellcheck=true cols=40 rows=2 placeholder="Enter special details about your Class." tabindex=24)
